body{ font-size:18px; }

#gameCanvas { width:100vw; height:100vh; display:none; }

#ui{ position:absolute; top:0; right:0; left:0; bottom:0; z-index:1; }
#ui .overlays {  }
#ui .overlays .overlay { background-color:#fff; border-left:1px solid #efefa3; border-right:1px solid #efefa3; background:url(./img/bg/fff.8.png);
     left:50%; transform:translateX(-50%); position:relative; padding:20px;}
#ui .overlays .overlay.huge { width:80%; height:100vh; }
#ui .overlays .overlay h1 { font-size:32px; }

/*#ui .overlays .curtain { position:absolute; top:0; right:0; left:0; bottom:0; z-index:2; background-color:#fff; opacity:.6; }*/