@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/bundles/agricola/css")
}



@section scripts{
    <script type="text/javascript">
        var loadedGame = "agricola";

        var MajorImprovementData = @Html.Raw(System.Web.HttpContext.Current.Application["JsonMajorImprovements"]);
        var OccupationData = @{@Html.Raw(System.Web.HttpContext.Current.Application["JsonOccupations"]);};
        var MinorImprovementData = @{@Html.Raw(System.Web.HttpContext.Current.Application["JsonMinorImprovements"]);};
        console.info(MajorImprovementData);
        console.info(MinorImprovementData);
        console.info(OccupationData);
    </script>
    @Scripts.Render("~/bundles/game")
    @Scripts.Render("~/bundles/agricola/js")
}

<div id="game" style="display:none;" class="window">
    <div class="tooltip"></div>
    <div class="fullImage"><img /></div>
    <div class="action-board">
        <div class="action" data-id="0" data-picture="/Content/Agricola/img/cards/majors/fireplace2.jpg">
            <div>
                <div class="text-bubble">
                    <div><strong>Build Room(s)</strong></div>
                    <div class="right info">
                        Wooden hut: 5<div class="icon tiny wood"></div> + 2<div class="icon tiny reed"></div><br />
                        Clay hut: 5<div class="icon tiny clay"></div> + 2<div class="icon tiny reed"></div><br />
                        Stone house: 5<div class="icon tiny stone"></div> + 2<div class="icon tiny reed"></div><br />
                    </div>
                    <div class="info">and/or</div>
                    <div><strong>Build Stable(s)</strong></div>
                    <div class="info">2 Wood per stable</div>
                </div>
            </div>
        </div>
        <div class="non-fm">
            <div class="action" data-id="1">
                <div>
                    <div class="text-bubble">
                        <div><strong>Starting Player</strong></div>
                        <div class="info">also</div>
                        <div class="info">1 Minor</div>
                        <div><strong>Improvement</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fm">
            <div class="action" data-id="51">
                <div>
                    <div class="text-bubble">
                        <div><strong>Starting Player</strong></div>
                        <div class="info">and</div>
                        <div><strong>Storehouse</strong></div>
                        <div class="info">1 Food</div>
                        <div><div class="icon large food"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="action" data-id="2">
            <div>
                <div class="text-bubble">
                    <div><strong>Take<br />1 Grain</strong></div>
                    <div class="info">and place it in your<br />personal supply</div>
                    <div><div class="icon large grain"></div></div>
                </div>
            </div>
        </div>
        <div class="action" data-id="3">
            <div>
                <div class="text-bubble">
                    <div><strong>Plow<br />1 Field</strong></div>
                </div>
            </div>
        </div>
        <div class="non-fm">
            <div class="action" data-id="4">
                <div>
                    <div class="text-bubble">
                        <div><strong>1 Occupation</strong></div>
                        <div class="info">
                            (A player's first<br />Occupation is free,<br />each additional one<br />costs 1 Food.)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fm">
            <div class="action" data-id="54">
                <div>
                    <div class="text-bubble">
                        <div><strong>Build Stable</strong></div>
                        <div class="info">
                            Build up to 1 Stable<br />for 1 Wood.
                        </div>
                        <div class="info">and/or</div>
                        <div><strong>Bake Bread</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="non-fm">
            <div class="action" data-id="5">
                <div>
                    <div class="text-bubble">
                        <div><strong>Day Laborer</strong></div>
                        <div class="info">Take 2 Food and<br />place them in your<br />personal supply.<br />&nbsp;</div>
                        <div><div class="icon large food"></div><div class="icon large food"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fm">
            <div class="action" data-id="55">
                <div>
                    <div class="text-bubble">
                        <div><strong>Day Laborer</strong></div>
                        <div class="info">Take 1 Food and 1 Building<br />resource (Wood/Clay/<br />Reed/Stone) place them<br />in your personal supply.<br />&nbsp;</div>
                        <div><div class="icon large food"></div>&nbsp;<div class="icon large building"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="action" data-id="6">
            <div>
                <div class="text-bubble">
                    <div><strong>3 Wood</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large wood"></div><div class="icon large wood"></div><div class="icon large wood"></div></div>
                </div>
            </div>
        </div>
        <div class="action" data-id="7">
            <div>
                <div class="text-bubble">
                    <div><strong>1 Clay</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large clay"></div></div>
                </div>
            </div>
        </div>
        <div class="action" data-id="8">
            <div>
                <div class="text-bubble">
                    <div><strong>1 Reed</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large reed"></div></div>
                </div>
            </div>
        </div>
        <div class="action" data-id="9">
            <div>
                <div class="text-bubble">
                    <div><strong>Fishing</strong></div>
                    <div>1 Food</div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large food"></div></div>
                </div>
            </div>
        </div>

        <div class="non-fm">
            <div class="players3 extended action" data-id="10">
                <div>
                    <div class="text-bubble">
                        <div><strong>1 Occupation</strong></div>
                        <div>(costs 2 food)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fm">
            <div class="players3 extended action" data-id="60">
                <div>
                    <div class="text-bubble">
                        <div class="info">Take 2 different</div>
                        <div><strong>Building Resources</strong></div>
                        <div class="info">of your choice<br />and place them in your<br />personal supply</div>
                        <div><div class="icon large building"></div>&nbsp;<div class="icon large building"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="players3 extended action" data-id="11">
            <div>
                <div class="text-bubble">
                    <div>Take 1</div>
                    <div><strong>Building Resource</strong></div>
                    <div>of your choice</div>
                    <div>and place it in your<br />personal supply</div>
                </div>
            </div>
        </div>
        <div class="players3 extended action" data-id="12">
            <div>
                <div class="text-bubble">
                    <div><strong>2 Wood</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large wood"></div><div class="icon large wood"></div></div>
                </div>
            </div>
        </div>
        <div class="players3 extended action" data-id="13">
            <div>
                <div class="text-bubble">
                    <div><strong>1 Clay</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large clay"></div></div>
                </div>
            </div>
        </div>

        <div class="non-fm">
            <div class="players4 extended action" data-id="14">
                <div>
                    <div class="text-bubble">
                        <div><strong>1 Occupation</strong></div>
                        <div class="info">(A player's first and second<br />Occupations cost 1 Food<br />each, each additional<br />Occupation costs 2 Food)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fm">
            <div class="players4 extended action" data-id="64">
                <div>
                    <div class="text-bubble">
                        <div class="info">Take 2 different</div>
                        <div><strong>Building Resources</strong></div>
                        <div class="info">of your choice<br />and place them in your<br />personal supply</div>
                        <div><div class="icon large building"></div>&nbsp;<div class="icon large building"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="players4 extended action" data-id="15">
            <div>
                <div class="text-bubble">
                    <div class="compressed"><strong>Take 1 Reed,<br />1 Stone and<br />1 Food</strong></div>
                    <div class="info">and place them in your personal supply</div>
                    <div><div class="icon large reed"></div><div class="icon large stone"></div><div class="icon large food"></div></div>
                </div>
            </div>
        </div>

        <div class="players4 extended action" data-id="16">
            <div>
                <div class="text-bubble">
                    <div><strong>2 Wood</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large wood"></div><div class="icon large wood"></div></div>
                </div>
            </div>
        </div>
        <div class="players4 extended action" data-id="17">
            <div>
                <div class="text-bubble">
                    <div><strong>1 Wood</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large wood"></div></div>
                </div>
            </div>
        </div>
        <div class="players4 extended action" data-id="18">
            <div>
                <div class="text-bubble">
                    <div><strong>Traveling Players</strong></div>
                    <div>1 Food</div>
                    <div><div class="icon large food"></div></div>
                </div>
            </div>
        </div>
        <div class="players4 extended action" data-id="19">
            <div>
                <div class="text-bubble">
                    <div><strong>2 Clay</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large clay"></div><div class="icon large clay"></div></div>
                </div>
            </div>
        </div>

        <div class="non-fm">
            <div class="players5 extended action" data-id="20">
                <div>
                    <div class="text-bubble">
                        <div class="note">either</div>
                        <div><strong>1 Occupation</strong></div>
                        <div class="info">First and Second occupation are 1 Food, additionals are 2 Food</div>
                        <div class="info">Or, from Round 5,</div>
                        <div><strong>Family growth</strong></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fm">
            <div class="players5 extended action" data-id="70">
                <div>
                    <div class="text-bubble">
                        <div class="info">Take 2 different</div>
                        <div><strong>Building Resources</strong></div>
                        <div class="info">of your choice<br />and place them in your<br />personal supply</div>
                        <div class="info">Or, from Round 5,</div>
                        <div><strong>Family Growth</strong></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="players5 extended action" data-id="21">
            <div>
                <div class="text-bubble">
                    <div><strong>Build 1 Room</strong></div>
                    <div class="info">Or</div>
                    <div><strong>Traveling Players</strong></div>
                    <div class="info">1 Food</div>
                </div>
            </div>
        </div>
        <div class="players5 extended action" data-id="22">
            <div>
                <div class="text-bubble">
                    <div><strong>Take 1 Sheep and 1 Food</strong></div>
                    <div>or</div>
                    <div><strong>Take 1 Wild boar</strong></div>
                    <div>or</div>
                    <div><strong>Pay 1 Food for 1 Cattle</strong></div>
                </div>
            </div>
        </div>
        <div class="players5 extended action" data-id="23">
            <div>
                <div class="text-bubble">
                    <div><strong>4 Wood</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large wood"></div><div class="icon large wood"></div><div class="icon large wood"></div><div class="icon large wood"></div></div>
                </div>
            </div>
        </div>
        <div class="players5 extended action" data-id="24">
            <div>
                <div class="text-bubble">
                    <div><strong>3 Clay</strong></div>
                    <div class="info">&nbsp;</div>
                    <div><div class="icon large clay"></div><div class="icon large clay"></div><div class="icon large clay"></div></div>
                </div>
            </div>
        </div>
        <div class="players5 extended action" data-id="25">
            <div>
                <div class="text-bubble">
                    <div><strong>1 Reed</strong></div>
                    <div><div class="icon large reed"></div></div>
                    <div class="info">In addition,</div>
                    <div>Take 1 Stone and 1 Wood</div>

                </div>
            </div>
        </div>
    </div>

    <div class="rounds-board">
        <div class="deck">
            <div class="text-bubble" data-id="100">
                <div><strong>Fences</strong></div>
                <div>1 Wood per fence</div>
            </div>
            <div class="text-bubble" data-id="101">
                <div><strong>1 Sheep</strong></div>
                <div><div class="icon large sheep"></div></div>
            </div>
            <div class="text-bubble" data-id="102">
                <div>1 Major<span class="non-fm"> or Minor</span> </div>
                <div><strong>Improvement</strong></div>
            </div>
            <div class="text-bubble" data-id="103">
                <div><strong>Sow</strong></div>
                <div>and/or</div>
                <div><strong>Bake Bread</strong></div>
            </div>
            <div class="text-bubble" data-id="104">
                <div class="non-fm">After</div>
                <div><br class="fm" /><strong>Family Growth</strong><br class="fm" />&nbsp;</div>
                <div class="non-fm">
                    <div>also</div>
                    <div>1 Minor</div>
                    <div><strong>Improvement</strong></div>
                </div>
            </div>
            <div class="text-bubble" data-id="105">
                <div><strong>1 Stone</strong></div>
                <div class="info">&nbsp;</div>
                <div><div class="icon large stone"></div></div>
            </div>
            <div class="text-bubble tight" data-id="106">
                <div>After</div>
                <div><strong>Renovation</strong></div>
                <div class="info compressed">1 <div class="icon tiny reed"></div> plus</div>
                <div class="info compressed">1 <div class="icon tiny clay"></div> per room to Clay hut</div>
                <div class="info compressed">1 <div class="icon tiny stone"></div> per room to Stone house</div>
                <div>also</div>
                <div>1 Major<span class="non-fm"> or Minor</span></div>
                <div><strong>Improvement</strong></div>
            </div>
            <div class="text-bubble" data-id="107">
                <div><strong>1 Wild boar</strong></div>
                <div><div class="icon large boar"></div></div>
            </div>
            <div class="text-bubble" data-id="108">
                <div><strong>Take<br />1 Vegetable</strong></div>
                <div>and place it in your<br />personal supply</div>
            </div>
            <div class="text-bubble" data-id="109">
                <div><strong>1 Cattle</strong></div>
                <div><div class="icon large cattle"></div></div>
            </div>
            <div class="text-bubble" data-id="110">
                <div><strong>1 Stone</strong></div>
                <div><div class="icon large stone"></div></div>
            </div>
            <div class="text-bubble" data-id="111">
                <div><strong>Family Growth</strong></div>
                <div>even without space<br />in your home</div>
            </div>
            <div class="text-bubble" data-id="112">
                <div><strong>Plow 1 Field</strong></div>
                <div>and/or</div>
                <div><strong>Sow</strong></div>
            </div>
            <div class="text-bubble tight" data-id="113">
                <div>After</div>
                <div><strong>Renovation</strong></div>
                <div class="info compressed">1 <div class="icon tiny reed"></div> plus</div>
                <div class="info compressed">1 <div class="icon tiny clay"></div> per room to Clay hut</div>
                <div class="info compressed">1 <div class="icon tiny stone"></div> per room to Stone house</div>
                <div>also</div>
                <div><strong>Fences</strong></div>
                <div>1 Wood per fence</div>
            </div>

        </div>

        <div class="stage stage0" data-stage="0">
            <div class="round empty" data-image="/Content/Agricola/img/cards/rounds-card.jpg">
                <div>
                    <div class="text">
                        <div><strong></strong></div>
                        <div class="note"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage stage1" data-stage="1"></div>
        <div class="stage stage2" data-stage="2"></div>
        <div class="stage stage3" data-stage="3"></div>
        <div class="stage stage4" data-stage="4"></div>
        <div class="stage stage5" data-stage="5"></div>
    </div>



    <div class="my-controls">
        <ul class="player-menu">
            <li class="tab-farm"><a href="#my-controls-farm"><span>My Farm</span></a></li>
            <li class="tab-hand"><a href="#my-controls-cards"><span>My Hand</span></a></li>
            <li class="tab-harvest"><a href="#my-controls-harvest"><span>Harvest</span></a></li>
            <li class="tab-score" data-image="/Content/Agricola/img/cards/score-card.jpg"><a href="#my-controls-score"><span>My Score (<span class="score"></span>)</span></a></li>
            <li class="tab-majors"><a href="#my-controls-majors"><span>Major Improvements</span></a></li>
        </ul>
        <div id="my-controls-farm" class="farm">
            <div class="my-board">
                <div class="player-board">
                    <div class="personal-supply">
                        <div class="pair">
                            <div class="resource food">
                                <div><div class="icon medium food"></div></div>
                                <div class="count">0</div>
                            </div>
                            <div class="resource wood">
                                <div><div class="icon medium wood"></div></div>
                                <div class="count">0</div>
                            </div>
                        </div>
                        <div class="pair">
                            <div class="resource clay">
                                <div><div class="icon medium clay"></div></div>
                                <div class="count">0</div>
                            </div>
                            <div class="resource reed">
                                <div><div class="icon medium reed"></div></div>
                                <div class="count">0</div>
                            </div>
                        </div>
                        <div class="pair">
                            <div class="resource stone">
                                <div><div class="icon medium stone"></div></div>
                                <div class="count">0</div>
                            </div>
                            <div class="resource grain">
                                <div><div class="icon medium grain"></div></div>
                                <div class="count">0</div>
                            </div>
                        </div>
                        <div class="pair">
                            <div class="resource vegetables">
                                <div><div class="icon medium vegetables"></div></div>
                                <div class="count">0</div>
                            </div>
                            <div class="resource sheep">
                                <div><div class="icon medium sheep"></div></div>
                                <div class="count">0</div>
                            </div>
                        </div>
                        <div class="pair">
                            <div class="resource boar">
                                <div><div class="icon medium boar"></div></div>
                                <div class="count">0</div>
                            </div>
                            <div class="resource cattle">
                                <div><div class="icon medium cattle"></div></div>
                                <div class="count">0</div>
                            </div>
                        </div>
                    </div>

                    <div class="farmyard">
                        <div class="plot empty">
                            <div class="fence-slot left"></div>
                            <div class="fence-slot top"></div>
                            <div class="fence-slot bottom"></div>
                            <div class="fence-slot right"></div>
                            <div class="cell"></div>
                        </div>
                    </div>

                    <div class="clear"></div>

                </div>
            </div>

            <div class="quick-cards">


            </div>
        </div>

        <div id="my-controls-cards" class="hand">
            <div class="scroll-wrapper">
                <div class="card-list minors"></div>
            </div>
            <div class="scroll-wrapper">
                <div class="card-list occupations"></div>
            </div>
        </div>
        <div id="my-controls-harvest" class="harvest">
            <div class="harvest-wrapper">
                <div class="harvest-status">
                    <div class="">Harvest Status</div>
                    <div class="players">
                        <div class="player"><span class="ready"></span>&nbsp;&nbsp;<span class="name"></span></div>
                    </div>
                </div>


                <div class="feed-requirement">
                    <span class="note">(<span class="family-size"></span> family members)</span>

                </div>

                <div class="feed-options">
                    <div class="title right">Food Required:&nbsp;<span class="food-required"></span></div>
                    <div class="title">Available food sources:</div>

                    <div class="listing">
                        <div class="resource-conversions">
                            <div class="resource-conversion">
                                <span class="available"></span>&nbsp;<div class="inType icon large"></div>&nbsp;&nbsp;<span class="note">( <span class="conversion-info"></span> )</span>
                                <div class="controls">

                                    <div class="incrementor">
                                        <div class="minus button"><div>-</div></div>
                                        <div class="plus button"><div>+</div></div>
                                        <div class="label"><span class="count">0</span>&nbsp;<div class="inType icon medium"></div> for <span class="worth">0</span>&nbsp;<div class="outType icon medium"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="food-total title right">Food Total:&nbsp;<span class="total">0</span>/<span class="food-required"></span></div>
                    </div>
                </div>

                <div class="wrapper feed-family">
                    <div class="button disabled">
                        <div>Feed<br />Family</div>
                    </div>
                </div>

                <div class="feed-complete-message">
                    <span>Your family has been fed!</span>
                </div>
            </div>
        </div>

        <div id="my-controls-score" class="score">
            <div class="cols">
                <div class="col">
                    <div class="row fields">
                        <label>Fields:</label><div class="points">-1</div>
                    </div>
                    <div class="row pastures">
                        <label>Pastures:</label><div class="points">-1</div>
                    </div>
                    <div class="row grain">
                        <label>Grain:</label><div class="points">-1</div>
                    </div>
                    <div class="row vegetables">
                        <label>Vegetables:</label><div class="points">-1</div>
                    </div>
                    <div class="row sheep">
                        <label>Sheep:</label><div class="points">-1</div>
                    </div>
                    <div class="row boar">
                        <label>Wild Boar:</label><div class="points">-1</div>
                    </div>
                    <div class="row cattle">
                        <label>Cattle:</label><div class="points">-1</div>
                    </div>
                    <div class="row fencedstables">
                        <label>Fenced Stables:</label><div class="points">-1</div>
                    </div>
                    <div class="row rooms">
                        <label><span class="room-type"></span>&nbsp;Rooms:</label><div class="points">0</div>
                    </div>
                    <div class="row unusedspace">
                        <label>Unused Spaces:</label><div class="points">-13</div>
                    </div>
                    <div class="row begging">
                        <label>Begging Cards:</label><div class="points">0</div>
                    </div>
                    <div class="row familymembers">
                        <label>Family Members:</label><div class="points">6</div>
                    </div>
                </div>
                <div class="col bonus-points"></div>
                <div class="clear"></div>
            </div>

            <div class="cols total-row">
                <div class="col">
                    <div class="row base-total">
                        <label>Score:</label><div class="points">-14</div>
                    </div>
                </div>
                <div class="col bonus-total">
                    <div class="row">
                        <label>Bonus:</label><div class="points">0</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row total">
                        <label>Grand Total:</label><div class="points"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="full-screen-button leave-game-button">Leave Game</div>


        </div>

        <div id="my-controls-majors" class="majors">

        </div>
    </div>

    <table class="player-info">
        <tr class="players">
            <td class="player">
                <div class="starting-player icon"><span>&#10122;</span></div><div class="name"></div>

                <div>
                    <ul class="tabs">
                        <li><a href="#farm">Farm</a></li>
                        <li><a href="#cards">Cards</a></li>
                        <li><a href="#score">Score</a></li>
                    </ul>

                    <div id="farm">
                        <div class="board">

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div id="cards">
                        <div class="quick-cards"></div>
                    </div>
                    <div id="score">

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="chat">
                <div class="system"></div>
            </td>
        </tr>
    </table>

    <div class="templates">
        <div class="family-member game-piece"></div>
        <div class="card">
            <div class="border">
                <div class="cost">
                    <div class="item"><span></span>&nbsp;<div class="icon medium"></div></div>
                </div>
                <div class="prerequisites"></div>
                <div class="points"><div></div></div>
                <div class="name"></div>
                <div class="text-bubble"></div>
                <div class="cost-options">
                    <div class="title">Payment Options</div>
                    <div class="cost-option"></div>
                </div>
                <div class="owned-by">Owned By <span></span></div>
            </div>
        </div>
        <div class="quick-card">
            <div class="body">
                <div class="name"></div>
                <div class="other"></div>
                <div class="points"><div></div></div>
            </div>
        </div>

        <div class="player-choice-submodules">
            <div class="option gain-resources">
                <h2></h2>
                <p>Take Resource<span class="multiple">s</span></p>

                <div class="resource"><span class="count"></span><div class="icon large"></div></div>

                <div class="selected">Selected</div>
            </div>
        </div>

    </div>

    <div class="screen"></div>

    <div class="popups">
        <div class="popup-modules">


            <div class="popup-module plow">
                <div class="menu-button wrapper plow-button">
                    <div class="button">
                        <div>Plow Fields</div>
                    </div>
                </div>

                <div class="body use-farm"></div>
            </div>

            <div class="popup-module sow">
                <div class="menu-button wrapper sow-button">
                    <div class="button">
                        <div>Sow Fields</div>
                    </div>
                </div>

                <div class="body use-farm"></div>
            </div>

            <div class="popup-module stables">
                <div class="menu-button wrapper sow-button">
                    <div class="button">
                        <div>Build Stables</div>
                    </div>
                </div>

                <div class="body use-farm"></div>
            </div>

            <div class="popup-module family-growth">
                <div class="menu-button wrapper sow-button">
                    <div class="button">
                        <div>Family Growth</div>
                    </div>
                </div>

                <div class="body family-growth">
                    <div>Family Growth</div>
                </div>
            </div>



            <div class="popup-module cook">
                <div class="menu-button wrapper cook-button">
                    <div class="button">
                        <div>Cook Food</div>
                    </div>
                </div>

                <div class="body">
                    <div class="listing">
                        <div class="resource-conversions">
                            <div class="resource-conversion">
                                <span class="available"></span>&nbsp;<div class="inType icon large"></div>&nbsp;&nbsp;<span class="note">( <span class="conversion-info"></span> )</span>
                                <div class="controls">

                                    <div class="incrementor">
                                        <div class="minus button"><div>-</div></div>
                                        <div class="plus button"><div>+</div></div>
                                        <div class="label"><span class="count">0</span>&nbsp;<div class="inType icon medium"></div> for <span class="worth">0</span>&nbsp;<div class="outType icon medium"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="empty-message">You have no resources to cook!</div>
                </div>
            </div>

            <div class="popup-module select-resources">
                <div class="menu-button wrapper sow-button">
                    <div class="button">
                        <div>Select Resources</div>
                    </div>
                </div>

                <div class="body">
                    <div class="wrapper" data-resource="">
                        <div class="button">
                            <div><span></span><br /><div class="icon full"></div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup-module cards">
                <div class="menu-button wrapper card-button">
                    <div class="button improvement-button">
                        <div></div>
                    </div>
                </div>

                <div class="body card-body"></div>
            </div>

            <div class="popup-module manage-animals manage-animals-controls">
                <div class="menu-button wrapper manage-animals-button">
                    <div class="button">
                        <div>Manage Animals</div>
                    </div>
                </div>
            </div>

            <div class="popup-module build-rooms">
                <div class="menu-button wrapper build-rooms-button">
                    <div class="button">
                        <div>Build Rooms</div>
                    </div>
                </div>
            </div>

            <div class="popup-module travelling-players">
                <div class="menu-button wrapper travelling-players-button">
                    <div class="button">
                        <div>Travelling Players</div>
                    </div>
                </div>

                <div class="food-container body">
                    <div class="text">
                        <h1>Take Food</h1>
                        <div class="count"></div>
                    </div>
                    <div class="icons"></div>
                </div>

            </div>


            <div class="popup-module build-fences manage-animals-controls">
                <div class="menu-button wrapper build-fences-button">
                    <div class="button">
                        <div>Build Fences</div>
                    </div>
                </div>
            </div>

            <div class="popup-module fence-pasture manage-animals-controls">
                <div class="menu-button wrapper fence-pasture-button">
                    <div class="button">
                        <div>Fence Pasture</div>
                    </div>
                </div>
            </div>

            <div class="popup-module prereq-not-met">
                <div class="body">
                    <div class="wrapper" data-resource="">
                        <div class="message">

                        </div>
                        <div class="card">

                        </div>
                    </div>
                </div>
            </div>

            <div class="popup-module player-choice">
                <div class="menu-button wrapper player-choice-button">
                    <div class="button">
                        <div>Player Choice</div>
                    </div>
                </div>

                <div class="body choice-body">

                </div>
            </div>


            <div class="popup-module cache-exchange">
                <div class="menu-button wrapper cache-exchange-button">
                    <div class="button">
                        <div>Exchange Goods</div>
                    </div>
                </div>

                <div class="body">
                    <p>Choose resources to leave on the card<br />in exchange for other resources:</p>

                    <div class="listing">
                        <div class="resource-conversions">
                            <div class="resource-conversion">
                                <span class="available"></span>&nbsp;<div class="inType icon large"></div>&nbsp;&nbsp;<span class="note">( Leave <span class="conversion-info"></span> )</span>
                                <div class="controls">

                                    <div class="incrementor">
                                        <div class="minus button"><div>-</div></div>
                                        <div class="plus button"><div>+</div></div>
                                        <div class="label"><span class="count">0</span>&nbsp;<div class="inType icon medium"></div> for <span class="worth">0</span>&nbsp;<div class="outType icon medium"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>















        <!-- legacy popups required to operate the animal choice screen for 5 player game -->
        <div class="popup farmyard-popup master-popup">
            <h2>Title</h2>
            <div class="cols">
                <div class="build-menu menu">

                </div>

                <div class="containers">
                    <div class="board"></div>

                    <div class="animal-controls">
                        <div class="unassigned-animals incrementor-list">
                            <div class="title">Unassigned Animals</div>
                            <div class="incrementor sheep">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Free<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Sheep</div>
                            </div>
                            <div class="incrementor boar">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Free<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Boar</div>
                            </div>
                            <div class="incrementor cattle">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Free<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Cattle</div>
                            </div>
                        </div>

                        <div class="cook-animals incrementor-list">
                            <div class="title">Cook Animals</div>
                            <div class="incrementor sheep">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Cook<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Sheep = <span class="foodCount">0</span>&nbsp;<span class="icon medium food"></span></div>
                            </div>
                            <div class="incrementor boar">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Cook<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Boar = <span class="foodCount">0</span>&nbsp;<span class="icon medium food"></span></div>
                            </div>
                            <div class="incrementor cattle">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Cook<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Cattle = <span class="foodCount">0</span>&nbsp;<span class="icon medium food"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="plow-controls">
                        <h3>Available Plows:</h3>
                        <div class="template" style="display:none;">
                            <input type="checkbox" /><span class="text"><span class="name"></span><span class="fields">plows <strong><span class="descr"></span></strong> fields</span><span class="uses">Uses Remaining: <span class="remaining"></span>/<span class="total"></span></span></span>
                        </div>
                    </div>
                </div>

                <div class="control-menu menu">
                    <div class="wrapper submit-button">
                        <div class="button">
                            <div>Submit</div>
                        </div>
                    </div>
                    <div class="wrapper cancel-button">
                        <div class="button">
                            <div>Cancel</div>
                        </div>
                    </div>
                </div>

                <div class="dialogue-menu menu">
                    <div class="wrapper ok-button">
                        <div class="button">
                            <div>Ok</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="popup farmyard-popup animal-choice">
            <div class="cols">
                <div class="build-menu menu">
                    <div class="wrapper sheep-button">
                        <div class="button">
                            <div>1 Sheep<br />1 Food</div>
                        </div>
                    </div>
                    <div class="wrapper boar-button">
                        <div class="button">
                            <div>1 Wild Boar</div>
                        </div>
                    </div>
                    <div class="wrapper cattle-button">
                        <div class="button">
                            <div>Pay 1 Food<br />For 1 Cattle</div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="board"></div>

                    <div class="animal-controls body">
                        <div class="unassigned-animals incrementor-list">
                            <div class="title">Unassigned Animals</div>
                            <div class="incrementor sheep">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Free<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Sheep</div>
                            </div>
                            <div class="incrementor boar">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Free<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Boar</div>
                            </div>
                            <div class="incrementor cattle">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Free<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Cattle</div>
                            </div>
                        </div>

                        <div class="cook-animals incrementor-list">
                            <div class="title">Cook Animals</div>
                            <div class="incrementor sheep">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Cook<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Sheep = <span class="foodCount">0</span>&nbsp;<span class="icon medium food"></span></div>
                            </div>
                            <div class="incrementor boar">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Cook<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Boar = <span class="foodCount">0</span>&nbsp;<span class="icon medium food"></span></div>
                            </div>
                            <div class="incrementor cattle">
                                <div class="minus button"><div>&nbsp;&nbsp;To Farm</div></div>
                                <div class="plus button"><div>Cook<br />&nbsp;</div></div>
                                <div class="label"><span class="count">0</span>&nbsp;Cattle = <span class="foodCount">0</span>&nbsp;<span class="icon medium food"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-menu menu">
                    <div class="wrapper submit-button">
                        <div class="button">
                            <div>Submit</div>
                        </div>
                    </div>
                    <div class="wrapper cancel-button">
                        <div class="button">
                            <div>Cancel</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>