@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/bundles/catan/css")
}


@section scripts{
    <script type="text/javascript">
        var loadedGame = "catan";


    </script>
    @Scripts.Render("~/bundles/game")
    @Scripts.Render("~/bundles/catan/js")
}

<div id="game" style="display:none;" class="window">
    <div id="gameCanvas"></div>

    <div id="ui">
        <div class="overlays">
            <div class="curtain"></div>
            <div class="overlay board-selection huge">
                <h1>Board Selection</h1>
                <p>Vote on the board you'd like to play.</p>
                <hr />

                <div class="layouts">

                </div>
            </div>
        </div>
    </div>
</div>