#game { height:100vh; width:100vw; cursor:default; position:absolute; overflow:hidden; background-color:#efefa3; font-size:1.2vh;
        transition:background-color .2s ease; }
#game .cols > div,
#game .cols > ul { float:left; }

/*#game.my-turn {background-color:#F7E352;}*/

#game .cols > div.clear {float:none; }
#game .tooltip { display:none; pointer-events:none; padding:.2vh .5vh; border-radius:.4vh; position:absolute; top:0; left:0; font-family: 'Homenaje', sans-serif; font-size:2vh;
				 z-index:9999; background-color:#efefa3; color:#3e3e3e; border: .2vh solid #b94a48;
				 box-shadow: 0 0 1vh .1vh rgba(0,0,0,0.85), inset 0 0 .1vh .1vh rgba(0,0,0,.85); }

#game .fullImage { display:none; pointer-events: none; padding:1.2vh; border-radius:2.4vh; position:absolute; z-index:9999; top:0; left:0; background-color:#fff; }
#game .fullImage img { width: 250px; height:400px; }

#game .screen { position: absolute; z-index: 9000; left: 0; top: 0; right: 0; bottom: 0; background: url(./img/screen-bg.png) no-repeat; background-size: 100% 100%; display: none; }

#game .fg { text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000 , -1px 1px 1px #000; }


#game .family-member { width:8vh; height:7.4vh; position:absolute; background-size:100%; background-repeat:no-repeat;  pointer-events:none;}
#game .family-member.phantom { opacity:.5; }
#game .family-member.info-board {width:4vh; height:1.7vh;}
#game .family-member.red { background-image:url(./img/pieces/member-red.png); }
#game .family-member.blue { background-image:url(./img/pieces/member-blue.png); }
#game .family-member.green { background-image:url(./img/pieces/member-green.png); }
#game .family-member.white { background-image:url(./img/pieces/member-white.png); }
#game .family-member.orange { background-image:url(./img/pieces/member-orange.png); }
#game .family-member.purple { background-image:url(./img/pieces/member-purple.png); }
#game .family-member.teal { background-image:url(./img/pieces/member-teal.png); }
#game .family-member.yellow { background-image:url(./img/pieces/member-yellow.png); }
#game .family-member.pink { background-image:url(./img/pieces/member-pink.png); }
#game .family-member.lime { background-image:url(./img/pieces/member-lime.png); }
#game .family-member.brown { background-image:url(./img/pieces/member-brown.png); }

#game .action-board .action.disabled > div:first-child, 
#game .rounds-board .action.disabled > div:first-child{ background-color:#44681b; }
#game .action-board .action.disabled > div:first-child .text-bubble,
#game .rounds-board .action.disabled > div:first-child .text-bubble { background-color:#bfbf73; border-color:#700013; }
#game.my-turn .action.enabled > div:first-child:hover { box-shadow: inset 0 0 2.2vh .3vh rgba(255,255,255,0.95); border-color:#fff; cursor:pointer;}

#game .conversions-menu .arrow { display:inline-block; background:url(./img/conversion-arrow.png) top left no-repeat; background-size:100% 100%;
								width:1.3vh; height:.8vh; margin:0 .2vh; top:.1vh; position:relative;}
#game .conversions-menu .icon { margin: 0 0 0 .1vh;}
#game .icon { position:relative; background-repeat:no-repeat; background-size:100% 100%; display:inline-block; }
#game .icon.tiny { width:1.1vh; height:1.1vh; top:.2vh;}
#game .icon.small { width:1.4vh; height:1.4vh; top:.3vh;}
#game .icon.medium { width:2vh; height:2vh; top:.2vh; }
#game .icon.large { width:3vh; height:3vh; }
#game .icon.full { width:5.95vh; height:5.95vh; }
#game .wood { background-image:url(./img/icons/wood.png); }
#game .clay { background-image:url(./img/icons/clay.png); }
#game .stone { background-image:url(./img/icons/stone.png); }
#game .reed { background-image:url(./img/icons/reed.png); }
#game .food { background-image:url(./img/icons/food.png); }
#game .grain { background-image:url(./img/icons/grain.png); }
#game .vegetables { background-image:url(./img/icons/vegetable.png); }
#game .sheep { background-image:url(./img/pieces/sheep.png); }
#game .cattle { background-image: url(./img/pieces/cattle.png); }
#game .boar { background-image: url(./img/pieces/boar.png); }
#game .building { background-image: url(./img/icons/building.png); }

#game .piece { width: 4vh; height:3vh; background-size:100%; display:inline-block; position:absolute; background-repeat:no-repeat;  pointer-events:none;}
#game .piece.wood { background-image: url(./img/pieces/wood.png)}
#game .piece.clay { background-image: url(./img/pieces/clay.png)}
#game .piece.reed { background-image: url(./img/pieces/reed.png)}
#game .piece.grain { background-image: url(./img/pieces/grain.png)}
#game .piece.vegetables { background-image: url(./img/pieces/vegetables.png)}
#game .piece.stone { background-image: url(./img/pieces/stone.png)}
#game .piece.food { background-image: url(./img/pieces/food.png)}
#game .piece.sheep { background-image: url(./img/pieces/sheep.png); height:3.62vh;}
#game .piece.cattle { background-image: url(./img/pieces/cattle.png); height:3.62vh;}
#game .piece.boar { background-image: url(./img/pieces/boar.png); height:3.62vh;}



#game .action-board { width:34vh; position:absolute; top:0; bottom:0; left:0; }
#game .action { width:17vh; float:left; position:relative; }
#game .action > div:first-child { background-color:#74b528; position:absolute; border:.1vh solid #3e3e3e;  top:0; bottom:0; left:0; right:0; 
                                  padding:.4vh; box-shadow: inset 0 0 45px 2px rgba(0,0,0,0.25); border-left:0; border-top:0;}
#game .action > div:first-child .text-bubble { margin:auto; background-color:#efefa3; width:15vh; border-radius:1vh; border:.2vh solid #b94a48; font-size:1.6vh; line-height:1.8vh;
											   box-shadow: 0 0 .1vh .1vh rgba(0,0,0,0.285), inset 0 0 .1vh .1vh rgba(0,0,0,.285); padding:.4vh;}
#game .action > div:first-child .text-bubble.tight { line-height:1.3vh; font-size:1.5vh;}
#game .action > div:first-child .text-bubble .compressed { line-height:1.4vh; }

#game .action > div:first-child .text-bubble div { text-align:center; font-family: 'Homenaje', sans-serif; }
#game .action > div:first-child .text-bubble div strong { color:#1f1f1f; }
#game .action > div:first-child .text-bubble .info {font-family: 'Exo 2', sans-serif; font-size: .95vh; margin-right:.6vh; line-height:1vh; padding:.2vh 0;}
#game .action > div:first-child .text-bubble .info.compressed { line-height:.7vh; padding:0; }
#game .action > div:first-child .text-bubble .right { text-align:right; } 
#game .action .count { position:absolute; left:0; right:0; text-align:center;  bottom:0; color:#000; font-weight:bold; font-size:1.8vh; z-index:4;
							 text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff , -1px 1px 1px #fff; }
#game .action.extended { display:none; }



#game.players1 .action-board .action,
#game.players2 .action-board .action { height:20vh; }
#game.players3 .action-board .action { height:14.33vh; }
#game.players4 .action-board .action,
#game.players5 .action-board .action { height:12.54vh; }
#game.players3 .action-board .action.players3 {display:block; }
#game.players4 .action-board .action.players4 {display:block; }
#game.players5 .action-board .action.players5 {display:block; }

#game.players4 .non-players4 { display:none; }
#game.players5 .non-players5 { display:none; }


#game .fm { display:none; }
#game.family-mode .fm { display:inherit; }
#game.family-mode .non-fm { display:none; }
#game.family-mode .tab-hand {display:none; }

#game .listing { overflow-y: auto; height: 100%; }
#game .resource-conversions {  border-top:.1vh solid #3e3e3e; }
#game .resource-conversions .alt-row{ background-color:#dede87;}
#game .resource-conversion { background:none; border-bottom:.1vh solid #3e3e3e; height:4vh; padding:.4vh .4vh; pointer-events:all;}
#game .resource-conversion .note { vertical-align:.7vh; font-weight:bold; }
#game .resource-conversion .controls { float:right; }
#game .resource-conversion .incrementor { width: 22vh; display:inline-block; }
#game .resource-conversion .button { display:inline-table; width:3.2vh; height:3.2vh; 
												box-shadow: inset 0 2.6vh 1vh -1.5vh rgba(255,255,255,.55), 0 .2vh .4vh 0 rgba(0,0,0,.75); }
#game .resource-conversion .button:hover {box-shadow: inset 0 3vh 1.8vh -1.5vh rgba(255,255,255,.65), inset 0 0 1vh .2vh rgba(255,255,255,.65), 0 .2vh .4vh 0 rgba(0,0,0,.75);}
#game .resource-conversion .button:active { margin-top:.1vh; margin-bottom:-.1vh; box-shadow: inset 0 3vh 1vh -1.5vh rgba(255,255,255,.55), 0 .1vh .1vh 0 rgba(0,0,0,.55);}

#game .resource-conversion .button > div { font-size:1.4vh; line-height:1.2vh; }
#game .resource-conversion .incrementor .label {font-size:2vh; text-align:center; margin-top:.4vh}

#game .resource-conversion.disabled { pointer-events:none; cursor:default; opacity:.4;}
#game .resource-conversion .available { font-size:2.7vh; vertical-align:.3vh; color:#3e3e3e;}
#game .resource-conversion .beg { font-size:2vh; vertical-align:.5vh; color:#3e3e3e;}
#game .resource-conversion .incrementor .beg { font-size:1.45vh; vertical-align:.2vh; color:#3e3e3e;}
#game .resource-conversion .conversion-info {font-weight:bold;}
#game .resource-conversion .conversion-info span { color:black; font-style:italic;}

#game .rounds-board { position:absolute; left:34vh; top:0; width:100.5vh; height:49.7vh; font-size:1.35vh;}
#game .rounds-board .stage { width:16.66%; height:100%; float:left; }
#game .rounds-board .stage > div { width:100%; position:relative; height: 25%; float:left; z-index:1; }
#game .rounds-board .stage > div > div:first-child { position:absolute; top:0; bottom:0; left:0; right:0; padding:.4vh; box-shadow: inset 0 0 45px 2px rgba(0,0,0,0.25);}
#game .rounds-board .stage > div.empty > div:first-child { border:.1vh dashed #000; background-color:#616660; border-top:0; border-left:0;}
#game .rounds-board .stage > div.empty > div:first-child .text {font-family: 'Homenaje', sans-serif; font-size:1.7vh; text-align:center; margin-top:3vh; color:#efefdf;}
#game .rounds-board .stage > div.empty > div:first-child .text strong { font-size:2vh; }
#game .rounds-board .stage > div.empty > div:first-child .note { color: #bfbfaf;}
#game .rounds-board .stage > div.harvest { background-color:orange; height:2.3vh; z-index:0; width:calc(100% - 2px); left:1px; font-family: 'Homenaje', sans-serif; font-size:2vh; font-weight:bold;
                                           line-height:2.3vh; text-align:center; border-bottom-left-radius:1vh; border-bottom-right-radius:1vh; }
#game .rounds-board .deck { display:none; }
#game .rounds-board > div > div .text-bubble { margin:auto; background-color:#efefa3; width:15vh; border-radius:1vh; border:.2vh solid #b94a48; font-size:1.6vh; line-height:1.8vh;
											   box-shadow: 0 0 1vh .1vh rgba(0,0,0,0.85), inset 0 0 .3vh .1vh rgba(0,0,0,0.95); padding:.4vh;}

#game .rounds-board .stage > div.empty .game-piece { width:3vh; height: 2.3vh; }
#game .rounds-board .stage > div.empty .game-piece.stack-base { border-bottom-width:1vh; border-bottom-style:solid; box-sizing:content-box; border-radius:1.4vh; }

#game .markable { position:relative; }
#game .marker { display: none; position: absolute; right: -10px; top: -10px; color: #cb0000; background-color: rgba(255,255,255,.5); border-radius: 4px; padding: 3px; transform: rotateZ(-25deg); border: 1px solid black; }
#game[data-card-199] .marker { display:block; }

#game .player-board .personal-supply { height: 8vh; }
#game .player-board .personal-supply .resource { float:left; width:10%; height:100%; padding-top:.4vh; background-image:none; 
												  text-shadow: none; }
#game .player-board .personal-supply .resource:last-child { border-right:none; }
#game .player-board .personal-supply .resource > div { text-align:center; font-weight:bold; margin-left:.3vh;}
#game .player-board .personal-supply .resource .count { font-family: 'Roboto Condensed', sans-serif; font-size:3vh; margin-top:-.4vh;}

#game .my-controls .player-board.red,   .player-info .player.red,   .popup .red .personal-supply   { background-color:#bf2424; }
#game .my-controls .player-board.blue,  .player-info .player.blue,  .popup .blue .personal-supply { background-color:#4a43db; color:#fff; }
#game .my-controls .player-board.green, .player-info .player.green, .popup .green .personal-supply { background-color:#19ac2a; }
#game .my-controls .player-board.purple,.player-info .player.purple,.popup .purple .personal-supply  { background-color:#a35cbd; }
#game .my-controls .player-board.orange,.player-info .player.orange,.popup .orange .personal-supply { background-color:#ef7300; }
#game .my-controls .player-board.white, .player-info .player.white, .popup .white .personal-supply { background-color:#efefef; }
#game .my-controls .player-board.teal,  .player-info .player.teal,  .popup .teal .personal-supply { background-color:#00cfef; }
#game .my-controls .player-board.yellow,.player-info .player.yellow,.popup .yellow .personal-supply { background-color:#efed00; }
#game .my-controls .player-board.pink,  .player-info .player.pink,  .popup .pink .personal-supply { background-color:#ef0097; }
#game .my-controls .player-board.lime,  .player-info .player.lime,  .popup .lime .personal-supply { background-color:#97ef00; }
#game .my-controls .player-board.brown, .player-info .player.brown, .popup .brown .personal-supply { background-color:#945a25; }

#game .player-board .farmyard {height:34vh;}
#game .player-board .farmyard .plot { width:20%; height:33.3333%; float:left; position:relative; }
#game .player-board .farmyard .plot .family-member{ width:7vh; height:6.4vh; }
#game .player-board .farmyard .plot .cell { position:absolute; top:.1vh; left:.1vh; right:.1vh; bottom:.1vh; }
#game .player-board .farmyard .plot.empty .cell { background:url(./img/field.png) repeat; background-size:100%;}
#game .player-board .farmyard .plot.stable .cell { background:url(./img/stables.png) no-repeat; background-size:100%; }
#game .player-board .farmyard .plot.stable.pasture .cell { background:url(./img/pasture-stables.png) no-repeat; background-size:100%; }
#game .player-board .farmyard.house-wood .plot.room .cell { background:url(./img/room-wood.png) no-repeat; background-size:100%; }
#game .player-board .farmyard.house-clay .plot.room .cell { background:url(./img/room-clay.png) no-repeat; background-size:100%; }
#game .player-board .farmyard.house-stone .plot.room .cell { background:url(./img/room-stone.png) no-repeat; background-size:100%; }
#game .player-board .farmyard .plot.field .cell { background:url(./img/plowed-field.png) no-repeat; background-size:100%; }
#game .player-board .farmyard .plot.pasture .cell { background:url(./img/pasture.png) repeat; background-size:100%;}

@keyframes tab-highlight{
	0% { box-shadow: inset 0 0 1.5vh .6vh gold; }
	50% { box-shadow: inset 0 0 .5vh 0 gold; }
	100% { box-shadow: inset 0 0 1.5vh .6vh gold; }
}
@-webkit-keyframes tab-highlight{
	0% { box-shadow: inset 0 0 1.5vh .6vh gold; }
	50% { box-shadow: inset 0 0 .5vh 0 gold; }
	100% { box-shadow: inset 0 0 1.5vh .6vh gold; }
}

@-moz-keyframes tab-highlight{
	0% { box-shadow: inset 0 0 1.5vh .6vh gold; }
	50% { box-shadow: inset 0 0 .5vh 0 gold; }
	100% { box-shadow: inset 0 0 1.5vh .6vh gold; }
}

#game ul { background-color:#c6c68f; }
#game li{ display:table-cell; height:4vh; cursor:pointer; line-height:3.8vh;  z-index:2;}
#game li:hover { background-color:#d1d194;  }
#game li.ui-state-disabled { pointer-events:none; cursor:default; opacity:.4;}
#game li a { font-family: 'Homenaje', sans-serif; width:16vh; display:inline-block; text-align:center; font-size:2vh;}
#game li.ui-tabs-active { position:relative; background-color:#efefa3; box-shadow: inset 0 .6vh #c6c68f;
                            animation:none; -webkit-animation:none; -moz-animation:none; transition:background-color .2s ease;}
/*#game.my-turn li.ui-tabs-active {   background-color: #F7E352;  }*/

#game .my-controls { position:absolute; left:34vh; top:52.2vh; width:100.5vh; height:48vh;  }
#game .my-controls ul {padding-left:.7vh; }
#game .my-controls .ui-tabs-panel { position:relative; height:43.8vh; z-index:1; }
#game .my-controls .player-menu li.tab-harvest { animation: tab-highlight .6s linear infinite; 
												-webkit-animation: tab-highlight .6s linear infinite;  
												-moz-animation: tab-highlight .6s linear infinite; }
#game .my-controls .player-menu li.tab-harvest.ui-state-disabled,
#game .my-controls .player-menu li.tab-harvest.ui-state-active{ animation:none; -webkit-animation:none; -moz-animation:none;}
#game .my-controls .player-menu .tab > div { margin-left:1vh; }

#game .my-controls .harvest .harvest-wrapper { padding:2vh; }
#game .my-controls .harvest .note { font-style:italic; font-size:1.3vh; color:#6e6e6e; font-weight:normal;}
#game .my-controls .harvest .feed-requirement .title { font-size:2vh; font-weight:bold;}
#game .my-controls .harvest .feed-options { width:70vh; }
#game .my-controls .harvest .feed-options .food-total { font-weight:bold; }
#game .my-controls .harvest .feed-options .title { font-size:2vh; }
#game .my-controls .harvest .feed-options .right { float:right; }
#game .my-controls .harvest .harvest-status{ float:right; font-size:2vh;}
#game .my-controls .harvest .harvest-status .c { font-weight:bold; }
#game .my-controls .harvest .harvest-status .player { margin-left:1vh;}
#game .my-controls .harvest .feed-family {position:absolute; right:3vh; bottom:3vh;}
#game .my-controls .harvest .feed-complete-message { position:absolute; bottom:3vh; left:0; right:0; text-align:center; display:none; 
													 font-family: 'Roboto Condensed', sans-serif; font-size:2vh;  }
#game .my-controls .harvest .feed-complete-message span { font-size:5vh; }


#game .my-controls .majors { padding:1vh; }
#game .card { border-radius:1vh; float:left; margin:.4vh .5vh; box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45); width:17vh; height:20vh; background-color:#fff; position:relative;}
#game .card .border { border-radius:.7vh; position:absolute; top: .8vh; bottom: .8vh; right: .8vh; left: .8vh;  border:.1vh solid #3e3e3e;}
#game .card.major .border{ background-color:#7a3f3e; }
#game .card .prerequisites { display:none; float:left; width:5vh; padding:.3vh; color:#000; text-align:center; line-height:1.1vh; }
#game .card .prereq { margin-bottom:.4vh; }

#game .card .cost {float:right; padding:.3vh; color:#efefa3; vertical-align:.1vh; font-size:1.3vh;}
#game .card .cost span { vertical-align:.4vh;}
#game .card .cost .item.text { font-size:.8vh; width:2vh; text-align:center; line-height:.5vh;}
#game .card .cost .divider { float:right; height:1px; width:100%; background-color:black; margin-top:.2vh; }
#game .card.major .cost .divider { background-color:#efefa3; }
#game .card .points,
#game .quick-card .points { position:absolute; top:3.9vh; left:0; right:0; margin:auto; background:url(./img/victory_point_bg.png) top left  no-repeat; background-size:100% 100%; width:3vh; height:3vh;} 
#game .card .points div, 
#game .quick-card .points { font-weight:bold; color:#d9ce3f; text-align:center; font-size:2.4vh;
												text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; }
#game .card .name { font-family: 'Homenaje', sans-serif; color:#efefa3; font-weight:bold; text-align:center; position:absolute; left:0; right:0; top:.4vh; font-size:1.6vh; line-height:1.6vh; pointer-events:none; }

#game .card .text-bubble {font-family: 'Roboto Condensed', sans-serif; letter-spacing:-.5px; position:absolute; border:1px solid #3e3e3e;
                          border-radius:.2vh; top:7vh; left:.2vh; bottom:.3vh; right:.2vh; background-color:#efefa3; font-size:1.1vh; padding:.4vh;
	                      line-height:1.1vh; border-bottom-left-radius:.6vh; border-bottom-right-radius:.6vh; }
#game .card .text-bubble .center-note{ font-family: 'Homenaje', sans-serif;  text-transform:uppercase; text-align:center; margin-top:1vh; font-size:1.1vh; line-height:1.05vh;}
#game .card .conversions-menu { float:right; margin-bottom:.35vh;}
#game .card .text-bubble .bottom { position:absolute; bottom : 0.25vh; width:14vh;}
#game .card .conversions-menu > div { float:right; line-height:.8vh; }
#game .card .owned-by { position:absolute; transform: rotate(-45deg); height:3vh; width:20vh;bottom:7vh; left:-2vh; color:white; font-family: 'Homenaje', sans-serif; font-size:2.4vh; text-align:center; display:none; 
										  text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000; 
										  background: rgb(0,0,0); background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 29%, rgba(0,0,0,1) 70%, rgba(255,255,255,0) 100%);
}
#game .card .cost-options { cursor:default;  font-size:2.1vh; font-family: 'Homenaje', sans-serif; position:absolute; left:0; right:0; top:7.6vh;  text-align:center; display:none;
												box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.75), 0px 5px 5px -5px rgba(0,0,0,0.75);background-color:#efefdf; padding-bottom: 1vh 0; }
#game .card .cost-options .title {  font-weight:bold; text-decoration:underline;padding:.2vh 0;}
#game .card .cost-option { cursor:pointer; position:relative; padding:.2vh 0; margin: .4vh 0;}
#game .card .cost-option.selected { background-color:gold; z-index:1; border-radius:.2vh;
													  box-shadow: 0px -5px 8px -4px rgba(0,0,0,0.75), 0px 5px 8px -4px rgba(0,0,0,0.75); }
#game .card .cost-option.resources { font-family: 'Roboto Condensed', sans-serif; }

#game .my-controls .hand .scroll-wrapper { overflow-x: scroll; }
#game .card.minor .border {background-color:#ba8607;}
#game .my-controls .hand .card { width:16vh; height:19vh; }

#game .card.occupation .border {background-color:#e8e07e; }
#game .card.occupation .name { color:#3e3e3e; }
#game .card.occupation .cost { color:#3e3e3e; }


#game .my-controls .score { font-size: 2vh;}
#game .my-controls .score .cols { border-bottom:1px solid #3e3e3e; max-height:30vh; overflow-y:auto; }
#game .my-controls .score .cols.total-row { background-color:#eaeaea;}
#game .my-controls .score .col{ width:30vh; }
#game .my-controls .score label { display:inline-block; font-family: 'Homenaje', sans-serif; width:24vh; text-align:right; margin-right:1vh; opacity:.8; text-transform:capitalize;}
#game .my-controls .score .row { background:none; }
#game .my-controls .score .row div { display:inline-block; width:3vh; text-align:right; }
#game .my-controls .score .total div { display:inline-block; }
#game .my-controls .score .total-row label { opacity:1; }
#game .my-controls .score .leave-game-button { display:none; font-size:8vh; height:12vh;}
#game.game-over .my-controls .score .leave-game-button { display:block; }

#game .my-board .personal-supply .icon.medium{ width:4vh; height:4vh; }
#game .my-board .player-board { position:absolute; width:56.5vh; height:100%; font-size:1.35vh; display:none; padding-top:.7vh; left:.7vh;}
#game .my-board .player-board .piece.sheep,
#game .my-board .player-board .piece.cattle,
#game .my-board .player-board .piece.boar { width:2.4vh; height:2.25vh;}

#game .quick-cards { position:absolute; left:57.7vh; top:0; bottom:0;  }
#game .quick-card {  font-family: 'Homenaje', sans-serif; font-size:1.3vh; margin:.5vh; float:left; background-color:#fff;
														   border-radius:.8vh; border:.6vh solid #fff; 
														   box-shadow:0 0 .2vh 0 rgba(0,0,0,.3); 
}
#game .quick-card .body { color:#efefa3; padding:.4vh; height:7vh; width:7vh; position:relative; border-radius:.6vh; }
#game .quick-card .points { display:none; bottom:.3vh; top:auto;}
#game .quick-card.major .body { background-color:#7a3f3e; }
#game .quick-card.begging .body { background-color:#e8e07e; color:#3e3e3e; }
#game .quick-card.occupation .body { background-color:#e8e07e; color:#3e3e3e; }
#game .quick-card.minor .body { background-color:#ba8607;  }
#game .quick-card .body .name { text-align:center; }
#game .quick-card.active .body:hover { box-shadow:inset 0 0 .6vh .3vh #fff; cursor:pointer; }
#game .quick-card.begging .other{ position:absolute;bottom:0; left:0; right:0; text-align:center; font-size:3vh;}

#game .player-board .farmyard .fence-slot { position:absolute; z-index:1; }
#game .player-board .farmyard .fence-slot.highlight {  background-color:transparent; border:1px dashed yellow; }
#game .player-board .farmyard .fence { background:url(./img/fence.png) no-repeat; background-size:100% 100%;}
#game .player-board .farmyard .fence.left, 
#game .player-board .farmyard .fence.right{ background-image:url(./img/fence2.png); }
#game .player-board .farmyard .fence-slot.left { width:1vh; left:-.5vh; top:.25vh; bottom:.25vh; }
#game .player-board .farmyard .fence-slot.right { width:1vh; right:-.5vh; top:.25vh; bottom:.25vh; }
#game .player-board .farmyard .fence-slot.top { height:1vh; top:-.5vh; left:.25vh; right:.25vh; }
#game .player-board .farmyard .fence-slot.bottom { height:1vh; bottom:-.5vh; left:.25vh; right:.25vh;}

#game .player-info { position:absolute; left:134.5vh; background-color:#c6c68f; border-collapse:collapse; height:100%; width:43.3vh; }
#game .player-info .player {height:20vh; width:43.3vh; float:left;}
#game .player-info .player .starting-player { padding:.8vh 1.7vh; font-size:3vh; line-height:2vh; vertical-align:-.4vh; width:3vh;}
#game .player-info .player .starting-player span {display:none;}
#game .player-info .player.starting-player .starting-player span { display: inline; }
#game .player-info .player > .name { margin:.8vh 0 .8vh 4vh; font-size:2vh; display:inline-block;}
#game .player-info .player .farmyard {height: 15.2vh; }
#game .player-info .player.active-player { box-shadow:inset 5.7vh 0 #f9d50e;}
#game .player-info .player .tabs { width:7vh; float:left; }
#game .player-info .player .ui-tabs-panel { float:left; width:36vh; }
#game .player-info .player .ui-tabs-panel#cards { overflow-y: auto; height:15vh; }
#game .player-info .player ul { background-color:transparent; }
#game .player-info .player li { height:3vh; line-height:3vh; display:inline-block; }
#game .player-info .player li.ui-tabs-active { box-shadow:inset -1vh 0 #fff; color:#3e3e3e;}
#game .player-info .player li a { width:6.6vh; font-size:1.6vh; text-align:right; padding-right:1.2vh;}
#game .player-info .quick-cards {position:inherit; height:15vh; padding:0 0 0 1.4vh;}
#game .player-info .quick-card { margin:.1vh; border-width:.4vh;}
#game .player-info .quick-card .body { height:6.6vh; } 
#game .player-info .quick-card .body .name { line-height:1.4vh; } 

#game .player-info .personal-supply { float:left; height:auto; width:10vh; border-radius:0; border:0; border-right:0; padding:.2vh; }
#game .player-info .personal-supply .resource { display:block;  width:auto;  padding: .36vh 0 0 0; width:4.6vh; border:none;}
#game .player-info .personal-supply .resource > div { display:inline; font-weight:normal; }
#game .player-info .personal-supply .resource .count { font-size:1.2vh; font-weight:bold; }
#game .player-info .farmyard {  float:left; width:25.6vh; }
#game .player-info .farmyard .piece { width:2.4vh; height:2vh; }
#game .player-info .farmyard .plot { height:5.0vh; width:5vh; float:left; position:relative; }
#game .player-info .farmyard .plot .family-member{ width:3vh; height:2.8vh; }
#game .player-info .farmyard .plot .cell { top:.1vh; left:.1vh; right:.1vh; bottom:.1vh; border-radius:.2vh; border:.15vh solid #3e3e3e; }
#game .player-info .player.starting-player{   }

#game .chat { height:100%; width:100%; background-color:#efefdf; }
#game .chat .system { width:100%; float:right; font-size:2vh; height:100%; max-height:100vh; overflow-y:scroll; padding:.2vh;}
#game .players2 .chat .system { max-height: 80vh; }
#game .players3 .chat .system { max-height: 60vh; }
#game .players4 .chat .system { max-height: 40vh; }
#game .players5 .chat .system { max-height: 20vh; }
#game .chat .system .fg { font-weight: bold; }
#game .chat [data-image]{ background-color:#cdcdcd; padding:0 1vh; border-radius:1vh; }



#game .popup { width:101vh; position:absolute; background-color:#efefdf;  z-index: 9100; display:none;
					   box-shadow:0px 0 4vh .25vh rgba(0,0,0,0.75); }
#game .popup h2 { left:24vh; top:2vh; font-size:3vh; font-family: 'Homenaje', sans-serif; position:absolute;}
#game .popup .menu { width:20vh; margin-top:15.9vh; }
#game .wrapper { border-top:1px solid transparent; }
#game .wrapper.disabled { pointer-events:none; }
#game .button { width: 11.85vh; height:11.85vh;  text-align:center; border-radius:.8vh; display:table; background-color:#3e3e3e;
						border:.3vh solid #3e3e3e; cursor:pointer; background-repeat:no-repeat; background-size:100%;
						box-shadow: inset 0 4.6vh 1vh -1.5vh rgba(255,255,255,.55), 0 .2vh .4vh 0 rgba(0,0,0,.75); }
#game .button:hover { box-shadow: inset 0 4.6vh 1.8vh -1.5vh rgba(255,255,255,.65), 
								inset 0 0 1vh .2vh rgba(255,255,255,.65),
								0 .2vh .4vh 0 rgba(0,0,0,.75);}
#game .button:active { box-shadow: inset 0 4.6vh 1vh -1.5vh rgba(255,255,255,.55), 0 .1vh .1vh 0 rgba(0,0,0,.55); }

#game .button.disabled,
#game .wrapper.disabled .button { opacity: .6; pointer-events:none; box-shadow: none; }

#game .button > div { font-family: 'Homenaje', sans-serif; line-height:4vh; font-weight:bold; font-size:3vh; color:#3e3e3e;  display:table-cell; vertical-align:middle;
					  text-shadow: 1px 1px 0 #e3e3e3, -1px -1px 0 #e3e3e3, 1px -1px 0 #e3e3e3, -1px 1px 0 #e3e3e3; }

#game .button > div span { font-size: 2vh; }

#game .selected .button,
#game .selected .button:hover,
#game .selected .button:active { box-shadow: none; cursor:default; }
#game .build-menu .selected { border-top:1px solid #3e3e3e; border-bottom:1px solid #3e3e3e; background-color:#fcfcfc; }
#game .cancel-button .button:hover > div { color:red; }

#game .button.only { background:none; border:none; }
#game .incrementor .minus { float:left; }
#game .incrementor .plus {float:right; } 


#game .popup .button { margin:2.8vh 4.25vh; }
#game .popup .button:active { margin-top:3vh; margin-bottom:2.6vh; }
#game .popup .selected .button,
#game .popup .selected .button:hover,
#game .popup .selected .button:active { box-shadow: none; margin:2.8vh 4.25vh; cursor:default; }
#game .popup .personal-supply .icon.medium{ width:4vh; height:4vh; }

#game .farmyard-popup .player-board { font-size:1.35vh; }
#game .farmyard-popup .player-board .farmyard .plot { }
#game .farmyard-popup .player-board .farmyard .plot .cell { opacity:.5; top:.2vh; left:.2vh; right:.2vh; bottom:.2vh; border-width:.3vh; }
#game .farmyard-popup .player-board .farmyard .plot .cell.highlight{ opacity:1; cursor:pointer;} 
#game .farmyard-popup .player-board .farmyard .plot .cell.highlight:hover { box-shadow:0px 0 .3vh .1vh rgba(0,0,0,0.25), inset 0 0 2.2vh .3vh #e4cc04; }





#game .popup .animal-controls { height: 24vh; width:60vh; padding-top:1vh;}


#game .farmyard-popup .manage-animals .empty-button { width:2vh; height:2vh; position:absolute; top: 1.2vh; right:1.2vh; background:url(./img/bg_40.png); border-radius:.4vh; border:2px solid #000;
														color:white; text-align:center; line-height:1.3vh;}
#game .farmyard-popup .manage-animals .empty-button:hover { border-color:#afafaf; }
#game .farmyard-popup.manage-animals .farmyard .plot .cell { opacity: 1;}
#game .farmyard-popup .animal-controls .incrementor-list { width:26.5vh; display:inline-block; margin:0 1.4vh;}
#game .farmyard-popup .animal-controls .incrementor-list .title { font-size:2vh; font-weight:bold; text-align:center; width:100%; margin-bottom:.6vh;}
#game .farmyard-popup .animal-controls .incrementor { height: 5vh; background:none; margin-bottom:1vh; position:relative;}
#game .farmyard-popup .animal-controls .incrementor .disabled {opacity:.3; pointer-events:none; }
#game .farmyard-popup .animal-controls .incrementor .button { margin:0; box-shadow: inset 0 2.6vh 1vh -1.5vh rgba(255,255,255,.55), 0 .2vh .4vh 0 rgba(0,0,0,.75);}
#game .farmyard-popup .animal-controls .incrementor .button:hover { box-shadow: inset 0 3vh 1.8vh -1.5vh rgba(255,255,255,.65), inset 0 0 1vh .2vh rgba(255,255,255,.65), 0 .2vh .4vh 0 rgba(0,0,0,.75);}
#game .farmyard-popup .animal-controls .incrementor .button:active { margin-top:.2vh; margin-bottom:-.2vh; box-shadow: inset 0 3vh 1vh -1.5vh rgba(255,255,255,.55), 0 .1vh .1vh 0 rgba(0,0,0,.55); }
#game .farmyard-popup .animal-controls .incrementor .button > div { font-size:1.8vh; line-height:2.2vh;
																   text-shadow: 1px 1px 0 #d3d3d3, -1px -1px 0 #d3d3d3, 1px -1px 0 #d3d3d3, -1px 1px 0 #d3d3d3; }
#game .farmyard-popup .animal-controls .incrementor .minus,
#game .farmyard-popup .animal-controls .incrementor .plus { width:5vh; height:5vh; border-radius:.8vh; }
#game .farmyard-popup .animal-controls .incrementor .plus div { background:url(./img/arrow_down.png) no-repeat center 2.4vh; background-size: 2vh 2vh; width:100%; height:100%; } 
#game .farmyard-popup .animal-controls .incrementor .minus div { background:url(./img/arrow_up.png) no-repeat -.2vh .1vh; background-size: 2vh 2vh; width:100%; height:100%; } 
#game .farmyard-popup .animal-controls .incrementor .label { text-align:center; position:absolute; top:0; bottom:0; left:5vh; right:5vh; font-size:2vh; line-height:5vh; }


#game .master-popup .plow-controls { font-size:2vh; padding-bottom:2vh;}
#game .master-popup .plow-controls h3 { padding: 1vh 0; }
#game .master-popup .plow-controls .plow-row { padding:.4vh; }
#game .master-popup .plow-controls .plow-row:hover { background-color:#efefa3; }
#game .master-popup .plow-controls input[type=checkbox]{ width:3vh; height:3vh; margin-right:1vh; margin-top:.6vh;}
#game .master-popup .plow-controls span {display:inline-block;}
#game .master-popup .plow-controls .text { vertical-align: .6vh; }
#game .master-popup .plow-controls .text .name { width:18vh; }
#game .master-popup .plow-controls .text .fields {width:18vh; }
#game .animal-choice .button > div { font-size:2.3vh; }





#game .popup .player-board .personal-supply{   border-left: 1px solid #3e3e3e; border-right: 1px solid #3e3e3e; }
#game .popup .player-board .personal-supply {  height:16vh; padding-top:8vh; }

#game .popup .alt-row { background-color:#efefc3; }
#game .resource-conversion .button { margin: 0; }
#game .resource-conversion .button:active { margin-top:.2vh; margin-bottom:-.2vh; }


#game .popup-modules { display:none; }
#game .master-popup .dialogue-menu { display:none; }
#game .master-popup.dialogue .dialogue-menu { display: inherit; }
#game .master-popup.dialogue .control-menu { display: none; }
#game .master-popup.dialogue .ok-button {margin-top:14vh; }
#game .master-popup .board { min-width: 60vh;}
#game .master-popup .player-board .farmyard,
#game .master-popup .body { height:35vh; background-color:#eaeaea; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;} 

#game .master-popup .animal-controls {display:none; background-color:#eaeaea; border-left:1px solid #3e3e3e; border-right:1px solid #3e3e3e;}                        
#game .master-popup .plow-controls {display:none;}
#game .master-popup.plow .plow-button .button { background-image:url(./img/plowed-field.png); }

#game .master-popup.sow .plot .button { margin:0; height:5.4vh; width:11.2vh; position:absolute; border-width:.2vh;
												  box-shadow: inset 0 4.0vh 1vh -1.5vh rgba(255,255,255,.55), 0 .2vh .4vh 0 rgba(0,0,0,.75); }
#game .master-popup.sow .plot .button:hover { box-shadow: inset 0 4.0vh 1vh -1.5vh rgba(255,255,255,.75), 0 .2vh .4vh 0 rgba(0,0,0,.75); }
#game .master-popup.sow .plot .button:active { margin-top:2px; margin-bottom:-2px; }
#game .master-popup.sow .plot .button > div { font-size:1.8vh; }
#game .master-popup.sow .plot .button-grain { background-image:url(./img/grain-button.png); }
#game .master-popup.sow .plot .button-vegetables {background-image:url(./img/vegetables-button.png); top:5.6vh; }
#game .master-popup.sow .plot.sowing .cell { opacity:1; }

#game .master-popup.select-resources .body .wrapper { float:left; width:50%; }
#game .master-popup.select-resources .body .wrapper .button { margin: 0; width:90%; margin:5%; height:14vh;}
#game .master-popup.select-resources .body .wrapper .button > div span { font-size:3vh; }
#game .master-popup.select-resources .body .wrapper.selected .button{ background-color:#efefa3; }

#game .master-popup .body.family-growth div { text-align:center; font-size:6vh; font-family: 'Roboto Condensed', sans-serif; padding-top:14vh; }

#game .master-popup.cards { width:133vh; }
#game .master-popup.cards .containers { width:92vh; }
#game .master-popup.cards .card-body { padding: 1.4vh .4vh 0 .4vh; height:46vh; }
#game .master-popup.cards .improvement-button div{ line-height:2.2vh; }
#game .master-popup.cards .card:hover { background-color:gold; cursor:pointer; }
#game .master-popup.cards .card.selected { box-shadow: 0px 0px 22px 0px gold; background-color:gold;}
#game .master-popup.cards .card.disabled { opacity:.4; cursor:default; pointer-events:none; box-shadow:0 0 .1vh 0 #888; }

#game .master-popup.manage-animals-controls .animal-controls { display:block; }
#game .master-popup.plow-controls .plow-controls {display:block;}

#game .travelling-players .food-container { width: 60vh; }
#game .travelling-players .food-container .icons { padding:0 6vh; margin:auto; }
#game .travelling-players .food-container .text { height:12vh; padding:0 6vh; text-align:center; margin:auto; }
#game .travelling-players .food-container .text h1 { font-size:3vh; }
#game .travelling-players .food-container .text .count { font-size: 3vh; }


#game .build-fences .fence-slot.highlight:hover {  border:1px solid yellow;box-shadow: inset 0 0 15px 5px rgba(255,234,0,1);}
#game .popup.build-fences .pasture .cell{  }
#game .popup.build-fences .fence-slot.left { width:2vh; left:-1vh; top:.5vh; bottom:.5vh; }
#game .popup.build-fences .fence-slot.right { width:2vh; right:-1vh; top:.5vh; bottom:.5vh; }
#game .popup.build-fences .fence-slot.top { height:2vh; top:-1vh; left:.5vh; right:.5vh; }
#game .popup.build-fences .fence-slot.bottom { height:2vh; bottom:-1vh; left:.5vh; right:.5vh;}
#game .farmyard-popup.build-fences .player-board .farmyard .plot .cell.highlight:hover { box-shadow:0px 0 .3vh .1vh rgba(0,0,0,0.25); cursor:default; }

#game .popup.prereq-not-met .card { margin:7vh auto; float:none;}

#game .popup.cook .empty-message {display:none; text-align:center; font-size:3.4vh; padding-top:15vh; font-weight:bold; }
#game .popup.player-choice .option { position:relative; float:left; border-right:1px solid #3e3e3e; height:100%; cursor:pointer;}
#game .popup.player-choice .option:hover { background-color:#efefa3; }
#game .popup.player-choice .option.selected { background-color:gold; cursor:default;}
#game .popup.player-choice .option h2 { position:static; text-align:center; margin:2vh auto; border:2px solid #3e3e3e; width:4vh; height:4vh; line-height:3.8vh; border-radius:2vh; opacity:.6;}
#game .popup.player-choice .option.last { border-right:none; }
#game .popup.player-choice .option p { font-size:3.4vh; text-align:center; margin-bottom:2vh; }
#game .popup.player-choice .option .resource { font-size:3vh;  text-align:center;}
#game .popup.player-choice .option .resource .count { margin-right:1vh; vertical-align:.3vh; }
#game .popup.player-choice .option .selected { display:none; position:absolute; bottom:0; left:0; right:0; text-align:center; font-size:4vh; font-family: 'Homenaje', sans-serif; color:#c6c68f;}
#game .popup.player-choice .option.selected .selected {display:block; }
#game .popup.player-choice .options2 .option { width:50%;}

#game .popup.cache-exchange .body p {font-size:2.4vh; text-align:center; padding:2vh 0;}
